.slider {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.slider__container {
  box-sizing: border-box;
  display: grid;
  width: calc(100% * var(--slides));
  grid-template-columns: repeat(var(--slides), fit-content(650px));
  column-gap: 40px;
  --sliderStep: 690px;

  @media screen and (max-width: $mobileToTabletWidth) {
    --sliderStep: 100%;
    grid-template-columns: repeat(var(--slides), 1fr);
    column-gap: unset;
  }
}
