.cards-container {
  width: 100%;
  box-sizing: border-box;
  padding-top: 120px;

  @media screen and (max-width: $mobileToTabletWidth) {
    padding-top: 20px;
    overflow: hidden;
  }

  &__slide {
    display: none;
    transition: translate 0.5s ease-in-out;

    &_selected {
      @include flex(row, space-between, center, 30px);

      @media screen and (max-width: $mobileToTabletWidth) {
        overflow: hidden;
        display: grid;
        width: calc(3 * 100%);
        grid-template-columns: repeat(3, 1fr);
        gap: unset;
      }
    }
  }
}
