.card {
  @extend %zeroSpaces;
  box-sizing: border-box;
  width: 100%;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));

  @media screen and (max-width: $mobileToTabletWidth) {
    background-color: $lightBackground;
  }

  &__label {
    @extend %labelFont;
    margin-top: 22px;
    padding-left: 6px;

    @media screen and (max-width: $mobileToTabletWidth) {
      text-align: center;
      margin-top: 3px;
    }
  }

  &__link {
    @extend %cardLink;
    width: 100%;
  }

  &__image {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: $lightBackground;
    object-fit: scale-down;

    @media screen and (max-width: $mobileToTabletWidth) {
      padding: 15px;
    }
  }
}
