.quote {
  @extend %limitedWidthSection;
  @include flex(row, center, stretch, 80px);
  padding: $verticalLargePadding $horizontalLargePadding $verticalPadding;

  @media screen and (max-width: $tabletToDesktopWidth) {
    padding: $verticalLargePadding $horizontalPadding $verticalPadding;
    gap: 60px;
  }

  @media screen and (max-width: $mobileToTabletWidth) {
    @include flex(column, center, center, 40px);
    padding: calc($decorativeLineOffset + $verticalPaddingMobile) $horizontalPaddingMobile $verticalPaddingMobile;
  }

  &__image-box {
    display: block;
    max-width: 650px;
    min-width: 284px;
    position: relative;
    @include decorativeLine($decorativeLineOffset);

    @media screen and (max-width: $mobileToTabletWidth) {
      max-width: unset;
      width: 100%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: scale-down;
  }

  &__text-box {
    @include flex(column, space-between, flex-start);
    @extend %zeroSpaces;
    max-width: 470px;

    @media screen and (max-width: $mobileToTabletWidth) {
      gap: 40px;
    }
  }

  &__text {
    @extend %importantTextFont;
  }

  &__text-author {
    @extend %commonText;
    font-weight: 500;
    font-size: 20px;
    min-height: 32px;
    vertical-align: top;

    @media screen and (max-width: $tabletToDesktopWidth) {
      font-size: 14px;
      min-height: 22px;
    }
  }

  &__text-author-info {
    @extend %mainTextFont;
    font-size: 16px;
    margin-top: 6px;
    min-height: 28px;
    vertical-align: top;

    @media screen and (max-width: $tabletToDesktopWidth) {
      font-size: 10px;
      min-height: 16px;
      line-height: 16px;
    }
  }

}
