
$tabletToDesktopWidth: 1439px;
$mobileToTabletWidth: 767px;

$lightBackground: #f4f4f4;
$darkBackground: #333333;
$lightGreen: #24B47E;
$darkGreen: #319E75;

$fontStyle: normal;
$fontFamily: 'Inter', 'Arial', sans-serif;
$letterSpacing: -0.5px;
$fontMainColor: #151515;
$fontSecondaryColor: #222222;
$linkHoverOpacity: 0.75;

$horizontalLargePadding: 120px;
$horizontalPadding: 60px;
$horizontalPaddingMobile: 18px;
$verticalLargePadding: 120px;
$verticalPadding: 60px;
$verticalPaddingMobile: 40px;

$decorativeLineOffset: 20px;

$customCursor: url("../images/icons/pointer.svg"), pointer;



@mixin flex($flex-direction, $justify-content, $align-items, $gap: 0) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  @if $gap != 0 {
    gap: $gap;
  }

}

%zeroSpaces {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

%limitedWidthSection {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
}

%commonText {
  @extend %zeroSpaces;
  color: $fontMainColor;
  font-style: $fontStyle;
}

%headerFont {
  @extend %commonText;
  letter-spacing: $letterSpacing;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;

  @media screen and (max-width: $tabletToDesktopWidth) {
    font-size: 32px;
    line-height: 40px;
  }
}

%importantTextFont {
  @extend %commonText;
  letter-spacing: $letterSpacing;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;

  @media screen and (max-width: $tabletToDesktopWidth) {
    font-size: 23px;
    line-height: 29px;
  }
}

%mainTextFont {
  @extend %zeroSpaces;
  font-weight: 400;
  font-size: 18px;
  color: $fontSecondaryColor;
  opacity: 0.7;

  @media screen and (max-width: $tabletToDesktopWidth) {
    font-size: 12px;
    line-height: 18px;
  }
}

%commonLink {
  @extend %commonText;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s;

  &:hover {
    cursor: $customCursor;
    opacity: $linkHoverOpacity;
  }

  &:visited {
    color: inherit;
  }
}

%textHeaderLink {
  @extend %commonLink;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  @media screen and (max-width: $tabletToDesktopWidth) {
    font-size: 18px;
  }
}

%textRegularLink {
  @extend %commonLink;
  font-weight: 600;
  font-size: 18px;

  &_disabled {
    font-weight: 400;
    opacity: 0.75;

    &:hover {
      opacity: 0.6;
    }
  }

  @media screen and (max-width: $tabletToDesktopWidth) {
    font-size: 14px;
  }
}

%buttonLinkStyle {
  display: block;
  text-decoration: none;
  text-align: center;
}
