.header {
  @extend %limitedWidthSection;
  position: sticky;
  top: 0px;
  background-color: $lightBackground;
  padding: 28px $horizontalPadding;

  float: right;

  &__link-box {
    @include flex(row, flex-end, center, 34px)
  }

  &__link {
    @extend %textHeaderLink;
  }
}

