.training {
  @extend %limitedWidthSection;
  display: grid;
  column-gap: 150px;
  row-gap: 50px;
  grid-template-columns: fit-content(460px) fit-content(580px);
  grid-template-rows: min-content 1fr min-content;
  padding: 150px $horizontalLargePadding $verticalLargePadding;

  @media screen and (max-width: $tabletToDesktopWidth) {
    padding: 150px $horizontalPadding $verticalLargePadding;
  }

  @media screen and (max-width: $mobileToTabletWidth) {
    padding: calc($verticalPaddingMobile + $decorativeLineOffsetLarge) $horizontalPaddingMobile 60px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
    row-gap: 40px;
  }

  &__text-box {
    @include flex(column, space-between, flex-start, 50px);
    max-width: 460px;

    @media screen and (max-width: $mobileToTabletWidth) {
      gap: 40px;
    }
  }

  &__image-box {
    grid-column: 2/3;
    grid-row: 1/4;
    display: block;
    min-width: 284px;

    @media screen and (max-width: $mobileToTabletWidth) {
      grid-column: unset;
      grid-row: unset;
      justify-self: center;
    }
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: scale-down;
  }

  &__title {
    @extend %headerFont;
    position: relative;
    @include decorativeLine($decorativeLineOffsetLarge);
  }

  &__text {
    display: block;
    @extend %mainTextFont;
    justify-self: center;
  }

  &__links-box {
    @include flex(row, flex-start, center, 30px);
    justify-self: start;
  }

  &__link {
    @extend %textRegularLink;
    vertical-align: top;
    min-height: 28px;

    @media screen and (max-width: $mobileToTabletWidth) {
      min-height: 20px;
    }
  }
}
